<!DOCTYPE html>

<html lang="pt-br" >
<head>
    <meta charset="utf-8" />   
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="userProfile.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="userProfile.css">
    <link rel="stylesheet" href="navBar.css">
    <link rel="stylesheet" href="footer.css">
    <title>userProfile</title>
</head>
<body>    
    <header>
    <ul>
        <li>
            <img src="img/Logo.png" id='logo' alt="Logo">
        </li>
        <li>
            <input id="buscar" type="text"  placeholder="Buscar..."/>
            <input id="botao" type="submit" value="Ir"/>
            <label for="lupa" class="lupa">
              <i class="fa-solid fa-magnifying-glass"></i>
          </label>
        </li>
        <li>
            <i class="fa-solid fa-user"></i>
        </li>
        <li>
            <i class="fa-solid fa-cart-shopping"></i>
        </li>
    </ul>
    </header>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <li><a href='http://'>Home</a></li>
          <li><a class='dropdown-arrow' href='http://'>Produtos</a>
            <ul class='sub-menus'>
              <li><a href='http://'>Smartphone</a></li>
              <li><a href='http://'>Acessórios</a></li>
              <li><a href='http://'>Tablet</a></li>
            </ul>
          </li>
          <li><a href='http://'>Ofertas</a></li>
          <li><a href='http://'>Categoria</a></li>
        </ul>
      </nav>
    <table class="editTable">
        <form action='' method="post">
            <tr>
                <td rowspan="2">Nome</td>
                <td class="edit"><%= custumer.user.name %></td>
                <td>Sobrenome</td>
                <td class="edit"><%= custumer.user.lastName %></td>
                <td>CPF</td>
                <td class="edit"><%= custumer.user.cpf %></td>
                <td>Email</td>
                <td class="edit"><%= custumer.user.email %></td>
                <td>Senha</td>
                <td class="edit"><%= custumer.user.password %></td>
                <td>Data de Nascimento</td>
                <td class="edit"><%= custumer.user.birthDay %></td>
                <td>Endereço</td>
                <td class="edit"><%= custumer.user.address %></td>
                <td>Complemento</td>
                <td class="edit"><%= custumer.user.complementary %></td>
                <td>Bairro</td>
                <td class="edit"><%= custumer.user.neighborhood %></td>
                <td>Cidade</td>
                <td class="edit"><%= custumer.user.city %></td>
                <td>Estado</td>
                <td class="edit"><%= custumer.user.state %></td>
                <td>CEP</td>
                <td class="edit"><%= custumer.user.cep %></td>
                <td>Ponto de Referência</td>
                <td class="edit"><%= custumer.user.referencePoint %></td>
            </tr>
        </form>


 </table>
</body>
</html>